@charset "UTF-8";
/*reset / normalización de todos los elementos del html*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  overflow-x: hidden;
  background-color: #2B2D38;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background-color: #DB2A6B;
  color: white;
  padding: 16px 50px;
  text-decoration: none;
  border-radius: 16px 16px 16px 0;
}
.btn:hover {
  opacity: 0.5;
  text-decoration: none;
}

.hero {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 300px 0;
  background-image: url("../img/image_1.png"), url("../img/image_2.png"), url("../img/image_3.png"), url("../img/image_4.png"), url("../img/image_5.png");
  background-position: right 720px top 10px, right 720px bottom 120px, right 460px top 10px, right 460px bottom 120px, top 140px right 190px;
  background-size: 220px;
  background-repeat: no-repeat, no-repeat;
}
.hero__title {
  width: 50%;
  font-size: 80px;
  font-weight: bold;
  line-height: 96px;
  margin: 0;
  margin-bottom: 16px;
  font-family: "Merriweather", serif;
}
.hero__subtitle {
  width: 40%;
  font-weight: 260;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 16px;
  color: #ABABAB;
  padding-bottom: 20px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 44px;
}
.hero__buttons .more {
  display: flex;
  align-items: center;
  text-decoration: underline;
  gap: 8px;
}
.hero__buttons .more img {
  width: 20px;
  transition: filter 0.3s;
}
.hero__buttons .more:hover {
  color: #DB2A6B;
}
.hero__buttons .more:hover img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(95%) saturate(4724%) hue-rotate(327deg) brightness(91%) contrast(89%);
}

.items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 36%;
  gap: 68px;
  margin-bottom: 50px;
}
.items article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.items article h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}
.items article p {
  color: rgba(43, 45, 56, 0.4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 50px 0;
}
.header__logo img {
  width: 220px;
  max-width: 100%;
  height: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-right: 260px;
}
.header__menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__menu ul li {
  position: relative;
}
.header__menu ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ABABAB;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}
.header__menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #DB2A6B;
  transition: width 0.3s;
}
.header__menu ul li a:hover {
  color: white;
}
.header__menu ul li a:hover::after {
  width: 70%;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: 60px;
  padding-right: 40px;
  overflow-x: hidden;
}
.container__ellipse-1, .container__ellipse-2 {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.container__ellipse-1 {
  bottom: 0px;
  right: 30px;
}
.container__ellipse-2 {
  bottom: 0;
  right: 30px;
}

.services {
  display: flex;
  gap: 30px;
  width: 35%;
  position: absolute;
  left: 60px;
  bottom: 120px;
  z-index: 10;
  font-size: 16px;
  padding: 20px 0 0 0;
}
.services article {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  padding: 0 48px 0 0;
}/*# sourceMappingURL=app.css.map */