$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



// Colors y fuente

$grey: #ABABAB;
$black: #2B2D38;
$light-grey: #E1E1E1;
$pink: #DB2A6B;
$purple: #6E1FED;
$turquese: #60D3D9;
$orange: #FF7E29;
$yellow: #F4B840;

$primary-font: 'Poppins', sans-serif;
$title-font: "Merriweather", serif;








